body {
    background: #1e1e2e;
    color: #cdd6f4;
    font-family: monospace;
    font-size: 20px;
}

input,
button {
    background: #1e1e2e;
    color: #cdd6f4;
    border: 4px solid #cdd6f4;
    padding: 0.3em 0.6em;
    font-size: 1em;
}

.list {
    color: #89b4fa;
    border: 4px solid #89b4fa;
    padding: 1em;
    max-height: 50vh;
    overflow: auto;
}

ul {
    padding: 0;
}

.reader {
    color: #b4befe;
    border: 4px solid #b4befe;

    a {
        color: #b4befe;
    }
}

iframe {
    width: 100%;
    min-width: 100px;
    min-height: 200px;
}
